php_value display_errors 1
php_value error_reporting 30711
php_value log_errors 1
php_value ignore_repeated_errors 1
php_value html_errors 1
php_value track_errors 1
php_value date.timezone Asia/Tokyo
#DirectoryIndex index.html index.php
#ErrorDocument 404 /errors/404.html

RewriteEngine On
# analyze
RewriteRule ^analyze/([0-9a-zA-Z_-]+)/$                             /analyze.php?screen_name=$1               [L]
RewriteRule ^analyze/([0-9a-zA-Z_-]+)/([0-9]{14})/$                 /analyze.php?screen_name=$1&date=$2       [L]

# proxy
RewriteRule ^proxy/mode/([^/]+)/screen_name/([^/]+)/datetime/([^/]+)/?$ /proxy.php?mode=$1&screen_name=$2&datetime=$3 [L]
RewriteRule ^proxy/mode/([^/]+)/screen_name/([^/]+)/?$                  /proxy.php?mode=$1&screen_name=$2             [L]
RewriteRule ^proxy/mode/([^/]+)/status/?$                               /proxy.php?mode=$1                            [L]

